<app-navbar></app-navbar>
<div class="home-container">
<div class="mini-content animation">
    <div class="generalcontent ">
        <div class="slide">
                <div class="text_section">
                    <h3>Hello I am <span>Akouvi</span> </h3>
                    <h1 class="text-container">Developper &amp; Creative <span> UI/UX</span> Designer</h1>
                    <p><a  href="./project-website/contact"  class="hiring">Hire me</a>  <a href="../assets/cv.pdf" class="hiring">Download CV</a></p>
                  
               </div>
               
            
                <div class="text_section1">
                    <h3>Hello this is my favourite work </h3>
                    <h1 class="text-container"> Developper &amp; Creative <span> UI/UX</span> Designer</h1>
                    <p><a  href="./project-website/contact"  class="hiring">Hire me</a> <a href="../assets/cv.pdf" class="hiring" >Download CV</a></p>
                    
               </div>
                
               <div class="image">  <img src="../assets/image.png" alt="image1"></div>
        
       
        </div>
        <br>

        <div>

          <div class="skill_section" id="skill_section">
            <h2 class="myskill">My Skills </h2>
           
              <div class="skill">
                <h3>Front-end</h3>
             
                <h5>HTML5</h5>
                <h5>CSS3</h5>
                <h5>JavaScript</h5>
                <h5>React.js</h5>
                <h5>Angular.js</h5>
                <h5>Vue.js</h5>
        
                <div class="more">
                   <a (click)="onMore()">More</a>
                </div>
              </div>

              <div class="skill">
                <h3>Back-end</h3>
             
                <h5>Node.js</h5>
                <h5>Express.js</h5>
                <h5> MongoDB</h5>
                <h5>Python</h5>
                <h5>Django</h5>
                <h5>php</h5>


                <div class="more">
                  <a (click)="onMore()">More</a>
                </div>
              </div>
              
            </div>

          
            <div class="experience">
              <h2> My experience</h2>
              <ul>
                <li>2 years of experience in Web Development</li>
                <li>2 years of experience in UX/UI design</li>
                <li>1 year of experience in Angular.js development</li>
              </ul>
              <h2>My passion</h2>
              
              <ul>
                  <li>I love to create visually appealing and user-friendly websites</li>
                  <li>I am always looking for new opportunities to learn and grow</li>
                  <li>I am passionate about creating a strong and inclusive
              </ul>
          </div>
          </div>
        </div>
    </div>

</div>



























































<app-footer class="footer"></app-footer>
