


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}



.home-container{
  text-align: center;
  
  background-color: #010614;
  font-family: "Lobster" ,sans-serif;
 

  width: 100%;
  height: auto;
}




.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}





    .generalcontent{
        background-color: #fff ;
        
      
        width: 100%;
        height: 100%;
    
        border-radius: 2px;
    }
    
    
    
    .footer{
    
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 0;
    }
    
    
    .text_section{
        margin-top: 95px !important;
        position: relative !important;
       
       
       
        p{
          
            .hiring{
              
                width: 200px;
                height: 20px;
                background-color: black;
                text-decoration: none;
                color: #fff !important;
                font-size: 20px;
                border-radius: 5px;
                cursor: pointer;
                padding: 10px 20px;
                margin-top: 10px;
                margin-left: 10px;
                 line-height: 1.2;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                display: inline-flex;
                justify-content:  center; 
                gap: 10px; 
                align-items: center;
                }
    
            .hiring:hover{
                background-color: #ffcc00;
                
                transition: background-color 0.3s ease;
            }
    
            
          
        }
    
    
        h3{
            font-size: 20px !important;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-style: italic;
            color: black!important;
    
            span{
                font-size: 25px;
                font-weight: Bold;
                font-style: normal;
                color: #162e76;
                line-height: 0.5;
                position: relative;
    
            }
        
        }
    
        h1{
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.2;
            color: #162e76;
        }
    
       
    }
  
    
    .text_section{
           
        margin-left: 80px;
        font-size: 20px;
        position: relative;
        font-style: normal;
        position: relative;
        text-align: left;
        padding-top: 100px;
        flex-basis: 50%; 
        padding: 20px; 
        top: 2;
        left: 80%;
        animation: slide 10s ease-in-out infinite;
        animation-delay: 0ms;
    }
    
    .text_section1{
        margin-top: 100px;
        p{
            
        
           
            position:relative;
            display: flex;
            justify-content: flex-start;
            margin-left: 100px;
            
       
            .hiring{
              
                width: 200px;
                height: 20px;
                background-color: black;
                text-decoration: none;
                color: #fff !important;
                font-size: 20px;
                border-radius: 5px;
                cursor: pointer;
                padding: 10px 20px;
                margin-top: 10px;
                margin-left: 10px;
                 line-height: 1.2;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                display: inline-flex;
                justify-content:  center; 
                gap: 10px; 
                align-items: center;
                }
    
            .hiring:hover{
                background-color: #ffcc00;
                
                transition: background-color 0.3s ease;
            }
        }
    
    
      h3{
    
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        color: #162e76;
        position: relative;
        display: flex;
        justify-content: flex-start;
        margin-left: 100px;
      
       
      
       
      }
    
    
      h1{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        position:relative;
        display: flex;
        justify-content: flex-start;
        margin-left: 100px;
        margin-bottom: fixed;
        color: #162e76;
        margin-top: 20px;
    }
    
    }
    
  
    
    @keyframes slideInSecond {
        0%, 50% {
            left: 100%;
            opacity: 0;
        }
        60%, 90% {
            left: 0;
            opacity: 1;
        }
        100% {
            left: -100%;
            opacity: 0;
        }
    }
    
    
    .text_section1 {
        animation: slideInSecond 10s infinite;
    }
    
    h4{
    
    
        margin-top: 0px;
        position: relative !important;
        
       
        padding: 20px;
        top: 0;
        left: 100%; /* Commence hors écran à droite */
        animation: slide 10s ease-in-out infinite;
        animation-delay: 0ms;
        color: white;
        padding-right: 0;
       
    
    
    }
    
    
    
    
    
    .text_section:nth-child(1){
        animation-delay: 0s;
    }
    
    .text_section:nth-child(2){
        animation-delay: 2.5s;
    }
     .text_section:nth-child(3){
        animation-delay: 5s;
    }
    
    
    
    @keyframes slide{
        0% {
            left: 100%; /* Démarre à droite */
          }
          10% {
            left: 0%; /* Arrive au centre */
          }
          40% {
            left: 0%; /* Reste au centre */
          }
          50% {
            left: -100%; /* Part vers la gauche */
          }
          100% {
            left: -150%; /* Reste hors de l'écran à gauche */
          }
       
      }
    
    
     
    
      
    
      ul{
        list-style-type: none;
      }
    
     .lang li{
       
        color: white;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
       
      }
      .lang li:hover{
        background-color: #ffcc00;
        transition: background-color 0.3s ease;
      }
    
    
    
     
    
      .experience h2{
        color: #162e76;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        margin-top: 50px;
        margin-bottom: 10px;
      }
    
      .experience ul li{
    
        color: black;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
        list-style-type: none;
      }
   




.text_section{
       
    margin-left: 20px;
    font-size: 20px;
    font-style: normal;
    position: relative;
    text-align: left;
    padding-top: 100px;
    flex-basis: 50%; 
    padding: 20px; 
    top: 2;
    left: 100%; /* Commence hors écran à droite */
    animation: slide 10s ease-in-out infinite;
    animation-delay: 0ms;
}

.text_section1{

    position: absolute;
    width: 100%;
    top: 0;
    left: 100%; /* Off the screen initially */
    opacity: 0;
    transition: all 1s ease;

    margin-top: 200px; 
    
    p{
      
        .hiring{
          
          width: 200px;
          height: 20px;
          background-color: black;
          text-decoration: none;
          color: #fff !important;
          font-size: 20px;
          border-radius: 5px;
          cursor: pointer;
          padding: 10px 20px;
          margin-top: 10px;
          margin-left: 10px;
           line-height: 1.2;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          display: inline-flex;
          justify-content:  center; 
          gap: 10px; 
          align-items: center;
            }

        .hiring:hover{
            background-color: #ffcc00;
            
            transition: background-color 0.3s ease;
        }
    }


  h3{
    font-size: 20px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
   color: black;
  

 
   
  }


  h1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color: #162e76;
    
}

}






@keyframes slideInSecond {
    0%, 50% {
        left: 100%;
        opacity: 0;
    }
    60%, 90% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}


.text_section1 {
    animation: slideInSecond 10s infinite;
}

h4{


    margin-top: 0px;
    position: relative !important;
    
   
    padding: 20px;
    top: 0;
    left: 100%; /* Commence hors écran à droite */
    animation: slide 10s ease-in-out infinite;
    animation-delay: 0ms;
    color: white;
    padding-right: 0;
   


}

.image img{
    
 
  top: 20%; 
  transform: translateY(-8%); 
  position: absolute;
  align-content: right;


  width:450px;
  height: 600px;
  
  
    
}



.text_section:nth-child(1){
    animation-delay: 0s;
}

.text_section:nth-child(2){
    animation-delay: 2.5s;
}
 .text_section:nth-child(3){
    animation-delay: 5s;
}



@keyframes slide{
    0% {
        left: 100%; /* Démarre à droite */
      }
      10% {
        left: 0%; /* Arrive au centre */
      }
      40% {
        left: 0%; /* Reste au centre */
      }
      50% {
        left: -100%; /* Part vers la gauche */
      }
      100% {
        left: -150%; /* Reste hors de l'écran à gauche */
      }
   
  }

 

  
  

  ul{
    list-style-type: none;
  }

 .lang li{
   
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
   
  }
  .lang li:hover{
    background-color: #ffcc00;
    transition: background-color 0.3s ease;
  }

  .experience h2{
    color: #162e76;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .experience ul li{

    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    list-style-type: none;
  }

  
 .skill{
      display: inline-block;
      justify-content: center;
      align-content: center;
      width: 20%;
      height: 40%;
      background-color: #fff;
      color: #010614 ;
      margin: 80px;
      cursor: pointer !important;
      margin-top: 3px;
      margin-bottom: 50px;

      font-family: "Poppins", sans-serif;
      font-style: normal;
      transition: color 0.3s ease;
      border-radius: 5px;

    h5{

    font-size: 15px;
    list-style-type: none;
    text-decoration: none;
    margin: 5px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    align-content: center;

    
  }

  h3{
    font-size: 30px;
  }
    
}

.skill_section{

  font-size: 30px;

  font-style: italic;
  margin-top: 300px;
  color: #fff;
  display: block;
  justify-content: center;
  margin-left: 100px;
  background-color: #162e76;
  align-content: center;
  width: 80%;
  height: 90%;
  transition: ease-out;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);



  h2{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    
    color: #fff;
    font-size: 50px;
   

  }

}

.skill_section:hover{
  background-color:none;
  transition: background-color 0.3s ease;
}


.skill .more{
  background-color: #010614;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
 
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #fff;
 padding-top: 10px;
 font-style: normal;
 
}

.skill .more:hover{
  background-color:#f5cb26;
}

.experience{

  h2{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    
  }
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
}