
<div class="home-container">
<div class="mini-content animation">
    <div class="generalcontent " style="background-image: url(../assets/background.jpg);">
        <div class="slide">
                <div class="text_section">
                    <h3>Hello I am <span>Akouvi</span> </h3>
                    <h1 class="text-container">Front-end Developper &amp; Creative <span> UI/UX</span> Designer</h1>
                    <p><a (click)="onHireme()" class="hiring">Hire me </a> <a href="../assets/cv.pdf" class="hiring">Download CV</a></p>
                  
               </div>
               
            
                <div class="text_section1">
                    <h3>Hello this is my favourite work </h3>
                    <h1 class="text-container">Front-end Developper &amp; Creative <span> UI/UX</span> Designer</h1>
                    <p> <a (click)="onHireme()" class="hiring">Hire me </a><a href="../assets/cv.pdf" class="hiring" >Download CV</a></p>
                    
               </div>
                
               <div class="image">  <img src="../assets/image.png" alt="image1"></div>
        </div>
        <br>

       
        <br>
        <div class="home-content"  style="background-image: url(../assets/Fond.jpg);">
            <app-thank-you></app-thank-you>
        </div>
       
    
        <div class="skills-section" id="skills-section">
          <h1>My Skills</h1>

          <div class="skills">
            <div class="skill-item">
              <span class="skill-name">HTML5</span>
              <div class="skill-bar">
                <div class="skill-fill" style="width: 90%;"></div>
                <span class="skill-percentage">90%</span>
              </div>
            </div>
            <div class="skill-item">
              <span class="skill-name">CSS3</span>
              <div class="skill-bar">
                <div class="skill-fill" style="width: 90%;"></div>
                <span class="skill-percentage">80%</span>
              </div>
            </div>
            <div class="skill-item">
              <span class="skill-name">JavaScript</span>
              <div class="skill-bar">
                <div class="skill-fill" style="width: 90%;"></div>
                <span class="skill-percentage">60%</span>
              </div>
            </div>

            <div class="skill-item">
              <span class="skill-name">React.JS.js</span>
              <div class="skill-bar">
                <div class="skill-fill" style="width: 90%;"></div>
                <span class="skill-percentage">60%</span>
              </div>
            </div>
        
        
        
            <div class="skill-item">
              <span class="skill-name">Angular.JS</span>
              <div class="skill-bar">
                <div class="skill-fill" style="width: 95%;"></div>
                <span class="skill-percentage">95%</span>
              </div>
            </div>
        
            <div class="skill-item">
              <span class="skill-name">Node.Js</span>
              <div class="skill-bar">
                <div class="skill-fill" style="width: 85%;"></div>
                <span class="skill-percentage">75%</span>
              </div>
            </div>
        
            <div class="skill-item">
              <span class="skill-name">Python</span>
              <div class="skill-bar">
                <div class="skill-fill" style="width: 90%;"></div>
                <span class="skill-percentage">80%</span>
              </div>
            </div>
        
            <div class="skill-item">
              <span class="skill-name">MongoDB</span>
              <div class="skill-bar">
                <div class="skill-fill" style="width: 70%;"></div>
                <span class="skill-percentage">40%</span>
              </div>
            </div>
        
            <div class="skill-item">
              <span class="skill-name">Figma</span>
              <div class="skill-bar">
                <div class="skill-fill" style="width: 80%;"></div>
                <span class="skill-percentage">80%</span>
              </div>
            </div>
          </div>
        
        </div>
        <div class="more">
          <a (click)="onMore()">Learn More</a>
        </div>
        
            <div class="experience">
              <h2> My experience</h2>
              <ul>
                <li>2 years of experience in Web Development</li>
                <li>2 years of experience in UX/UI design</li>
                <li>1 year of experience in Angular.js development</li>
              </ul>
            </div>
            <div  class="passion">
              <h2 > My passion</h2>
              <ul>
                  <li>I love to create visually appealing and user-friendly websites</li>
                  <li>I am always looking for new opportunities to learn and grow</li>
                  <li>I am passionate about creating a strong and inclusive
              </ul>
            
            </div>
            
          </div>
        </div>
      

   
</div>












