<div class="navbar">
    <div class="logo">
        <a><span>A</span>kouvi</a>
       
    </div>
    <div class="nav_links">
        <ul >
            <li><a (click)="onHome()" >Home</a></li>
            <li><a (click)="onSkills()" >Skills</a></li>
            <li><a (click)="onAbout()">About</a></li>
        </ul>
    </div>

    <div>
        <ul>
            <a href="https://www.linkedin.com/in/honorine-gbadabizo-7ba3a2248/" ><<mat-icon class="mat-18">linkedin</mat-icon></a>
            <a href="https://github.com/AkouHono" target="_blank">GitHub</a>
            <a href="akouvigbadabizo@gmail.com" target="_blank">Email</a>
        </ul>
    </div>
</div>