<div class="navbar">
    <div class="logo">
        <a><span><img src="../assets/logo.png" alt="logo"></span></a>
       
    </div>
    <div class="nav_links">
        <ul >
            <li><a (click)="onHome()" >Home</a></li>
            <li><a (click)="onSkills()" >Skills</a></li>
            <li><a href="https://aboutpage-687j.onrender.com/">About</a></li>
        </ul>
    </div>

    <div>
        <a href="https://www.linkedin.com/in/honorine-gbadabizo-7ba3a2248/" target="_blank"><fa-icon [icon]="faLinkedinIn" class="fa-icon"></fa-icon> </a>
        <a href="https://github.com/AkouHono" target="_blank"> <fa-icon [icon]="faGithub" class="fa-icon"></fa-icon></a>
        <a href="akouvigbadabizo@gmail.com" target="_blank"><fa-icon [icon]="emailIcon" class="fa-icon"></fa-icon>    </a>
    </div>
       
        
 
</div>