
    
    <footer class="footer">
        <div class="footer-content">
      
          <div class="footer-section about">
            <a><span><img src="../assets/logo.png" alt="logo"></span></a>
            <p>Creating engaging digital experiences with a passion for front-end and back-end development. Let's build something great together!</p>
          </div>
      
          <div class="footer-section links">
            <h3>Quick Links</h3>
            <ul>
              <li><a (click)="onHome()" class="home">Home</a></li>
              <li><a (click)="onSkills()">Skills</a></li>
              <li><a (click)="onAbout()">About</a></li>
            
            </ul>
          </div>
      
          <!-- Contact Info -->
          <div class="footer-section contact">
            <h3>Contact Us</h3>
            <p>Phone: +91 9037990722</p>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/honorine-gbadabizo-7ba3a2248/" target="_blank">LinkedIn</a>
              <a href="https://github.com/AkouHono" target="_blank">GitHub</a>
              <a href="akouvigbadabizo@gmail.com" target="Mailto">Email</a>
            </div>
          </div>
        </div>
      
       
        <div class="footer-bottom">
          <p>&copy; 2024 Honoyemi. All Rights Reserved.</p>
        </div>
      </footer>
      



