<footer class="footer">
    <div class="footer_links">
        <div class="foot">
            <a (click)="onHome()">Home

            </a>
            <a (click)="onAbout()">About</a>
            
                <a (click)="onContact()">Contact</a>
                    <div class="contact"></div>
                        <ul>
                            <li> <a [href]="Linkedinlink" target="_blank">Linkedln</a></li>
                            <li>  <a [href]="'mailto:' + emailAddress ">Email</a></li>
                        </ul>
                
                    </div>

        </div>
        


   
  

   <div class="stroke">
    

   </div>
</footer>
